[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gpavan123789
	email = 106580961+gpavan123789@users.noreply.github.com
